.btn{
    background-color: rgb(0, 0, 0);
    color: rgb(108, 194, 100);
    margin: 10px;
    padding: 10px;
    font-family: Poppins;
    font-weight: bold;   
    margin-top: 20px; 
}

 .tabel{
    background-color: rgb(215, 221, 250);
    margin: 10px;
    border-style: solid;
    padding: 20px;
    font-family: Poppins;
    font-size: smaller;
 }

 .header{
     color: rgb(255, 85, 85);
     padding-bottom: 20px;
     font-size: larger;
 }

 .hsl{
     background-color: rgb(255, 145, 0);
     border-style: unset;
     font-family: Poppins;
     font-weight: bold;   
 }

 .input{
    border-color: rgb(155, 154, 212);
    font-family: Poppins;
 }

 